@model SchoolManagementApplication.Models.Module

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit Module</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeSector" class="control-label"></label>
                <input asp-for="CodeSector" class="form-control" />
                <span asp-validation-for="CodeSector" class="text-danger"></span>
            </div>
            <div class="form-group pt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-action="Index" style="width:150px">Back to list</a>
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}